body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background-color: #fafafa;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 10%;
    background-color: #fcd2d2;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo{
    font-size: 1.5rem;
    font-weight: 700;
    color: black;
    font-style: italic;
}

.nav-links{
    display: flex;
    list-style: none;
    gap: 2rem;
}

.nav-links a{
    text-decoration: none;
    color: grey;
    font-weight: 500;
    transition: color 0.3s;
}

.nav-links a:hover{
    color:black;
}

.stress{
    display: none;
    background: none;
    border: none;
    font-size: 1.8rem;
    cursor: pointer
}

.me{
    min-height: 80vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
    background: #ffffff;
}

.me-content{
    max-width: 650px;
}

.salam{
    color: grey;
    font-size: 1.1rem;
}

.me-content h1{
    font-size: 3rem;
    margin: 0.5rem 0;
    color: black;
}

.peran{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: grey;
}

.bio{
    color: grey;
    margin-bottom: 1.8rem;
}

.btn{
    display: inline-block;
    padding: 0.8rem 1.5rem;
    background-color: black;
    color: #fafafa;
    text-decoration: none;
    border-radius: 6px;
    transition: background-color 0.3s;
}

.btn:hover{
    background-color: #333;
}

.Myprojects{
    padding: 5rem 10%;
}

.Myprojects h2, .Mycontact h2{
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.deskripsi{
    color: gray;
    margin-bottom: 2rem;
}

.projectyea{
    display: grid;
    grid-template-columns: repeat(auto-fit,  minmax(280px, 1fr));
    gap: 1.5rem;
}

.project-card{
    background: #fafafa;
    padding: 1.8rem;
    border-radius: 12px;
    border: 1px solid #ffbbbb;
    transition: transform 0.3, box-shadow 0.3s;
}

.project-card:hover{
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
    background-color: #fdefef;
}

.project-card h3{
    margin-bottom: 0.8rem;
    color: black;
}

.project-card p{
    color: gray;
    font-size: 0.95rem;
    margin-bottom: 1.2rem;
}

.tag{
    display: inline-block;
    padding: 0.2rem 0.6rem;
    background-color: #f0f0f0;
    color: grey;
    font-size: 0.8rem;
    border-radius: 4px;
    margin-right: 0.4rem;
}

.Mycontact{
    padding: 5rem 10%;
    background-color: #fff;
    text-align: center;
}

.Mycontact h2{
    text-align: center;
}

.Mycontact p{
    text-align: center;
}
.social-links{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1.5rem;
    flex-wrap: wrap;
}

.social-btn{
    padding: 0.6rem 1.2rem;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 6px;
    text-decoration: none;
    transition: all 0.3s;
}

.social-btn:hover{
    border: black;
    background-color: black;
    color: #fff;
}

@media (max-width: 768px){
    .stress{
        display: block;
    }
    .nav-links{
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #fff;
        padding: 1rem 0;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
        text-align: center;
    }
    .nav-links.active{
        display: flex;
    }
    .me-content{
        font-size: 2.2rem;
    }
}